<section id='records'>
  <% if @compilations.any? %>
    <%= will_paginate @compilations %>
    <%= render "sortable_list" %>
    <%= will_paginate @compilations %>
  <% else %>
    <p>
      <strong>
        No Items yet
      </strong>
      </p>
  <% end %>
</section>
  <aside id='actions'>
    <ul>
      <li>
        <%= link_to 'Add New Compilation', refinery.new_talks_admin_compilation_path,
       :class => 'add_icon' %>
     </li>
    </ul>
  </aside>
